/*
#calculator {
    background-color: cornflowerblue;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px #424242;
}

#calculator::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    transform: rotate(45deg);
    margin-left: -29px;
    margin-top: -2px;
    z-index: -1;
    background-color: #424242;
}

#calculator::before {
    content: '';
    position: absolute;
    margin-left: 458px;
    margin-top: -22px;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    z-index: -1;
}

#calculator>.operands {
    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: #bcd1c0;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#calculator>.operands>[data-operand-1] {
    font-size: 30px;
}

#calculator>.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#calculator>.btn-grid>button {
    padding: 10px;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: #c9c9c9;
    font-size: 25px;
}

#calculator>.btn-grid>button:nth-child(2){
    grid-column: span 2;
}

#calculator>.btn-grid>button:last-child{
    grid-column: span 2;
    background-color: #f5a34d;
    border-color: #ce812a;
}

*/




#calculator {
    margin-left: 30px;
    margin-top: 30px;
    padding: 35px;
    border-radius: 35px;
    background-color: #e3e1e1;
    float: left;
    box-sizing: border-box;
    height: 480px;
    width: 350px;
}

#calculator:hover {
    border: 2px solid #f89b8f;
    background-color: #ffe7e3;
}

.display-row {
    width: 86%;
    margin: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #333;
    gap: 3px;
    padding: 10px;
}

.currency-symbol {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}



#display::placeholder {
    font-size: 20px;
    border: none;
    outline: 0;
}

#display {
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    flex: 1;
    outline: none;
    text-align: right;
}

.btn-borrar {
    width: 25px;
    cursor: pointer;
}

.btn-borrar:hover {
    transition: transform 0.3s;
    transform: scale(1.3);
}


/*botones calculadora*/

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;

}


#buttons>button {
    width: 70%;
    height: 80%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333;
    border: 2px solid #d2c3c3;
    cursor: pointer;
    font-size: 35px;
    border-radius: 10px;
    text-align: center;
}

#buttons>button:hover {
    transition: transform 0.3s;
    transform: scale(1.19);
}


.img-button {
    width: 68%;
    height: 76%;
    padding: 10px;
    border: 2px solid #d2c3c3;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 2px;
}

.img-button img {
    width: 100%;
    max-height: 50px;
}

.img-button:hover {
    background-color: #e65c4f;
    transition: transform 0.3s;
    transform: scale(1.1);
    border: none;
}

/*********************/


/*final calcu*/


.pie-pag {
    border-radius: 23px;
    background-color: #ffffff;
    border: 2px solid #f89b8f;
    margin-top: 12px;
    padding: 12px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color: #e65c4f;
}



/*menu derecho*/

.menu-derecho {
    float: left;
    width: 30%;
    margin-top: 1%;
    padding: 0;
    box-sizing: border-box;
    margin-left: 8%;
}

section h3 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.metodo1 {
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 12px;
    width: 90%;
    text-align: left;
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.metodo1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.metodo1 p {
    margin: 0;
}

.texto {
    flex: 1;
    margin-left: 0.5rem;
}

.image:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.3);
}
