<section>
    <div id="calculator">
        <div class="calculadora">

            <div class="display-row">
                <span class="currency-symbol">$</span>
                <input type="text" id="display" readonly>
                <img src="img/borrar.png" alt="borrar" class="btn-borrar" onclick="clearDisplay()">
            </div>

            <div id="buttons">
                <button onclick="addToDisplay('1')">1</button>
                <button onclick="addToDisplay('2')">2</button>
                <button onclick="addToDisplay('3')">3</button>

                <button onclick="addToDisplay('4')">4</button>
                <button onclick="addToDisplay('5')">5</button>
                <button onclick="addToDisplay('6')">6</button>

                <button onclick="addToDisplay('7')">7</button>
                <button onclick="addToDisplay('8')">8</button>
                <button onclick="addToDisplay('9')">9</button>

                <button onclick="addToDisplay('0')">.</button>
                <button onclick="addToDisplay('.')">0</button>

                <button onclick="calculate()" class="img-button">
                    <img class="verificar" src="img/comprobado.png" alt="boton-ok">
                </button>
            </div>


            <!----
            <div class="pie-pag">
                <label>Cantidad restante $1,500.00</label>
            </div>-->

        </div>
    </div>

    <div class="menu-derecho">
        <h3>Pagos</h3>

        <div class="metodo1">
            <p class="texto">Sin    pagos</p>
        </div>
        
        <!---
        <div class="metodo1">
            <img src="img/dineroefectivo.png" alt="icono efectivo" style="width: 30px;">
            <p class="texto">Efectivo</p>
            <p class="monto">$300.00</p>
            <img class="image" src="img/cancelar.png" alt="icono cancelar pago" style="width: 18px;">
        </div>

        <div class="metodo1">
            <img src="img/tarjeta.png" alt="icono efectivo" style="width: 30px;">
            <p class="texto">Tarjeta de crédito</p>
            <p class="monto">$1,200.00</p>
            <img class="image" src="img/cancelar.png" alt="icono cancelar pago" style="width: 18px;">
        </div>
        -->

    </div>
</section>