<header>
    <div class="atrass">
        <img src="img/atras.png" alt="icono atras" style="width: 15px;">
        <p>Atrás</p>
    </div>

    <p class="titulo">Pago de propinas</p>

    <div id="step1" class="step visible">
        <button>Iniciar proceso de pago</button>
        <img src="img/pago1.png" alt="" style="width: 10px;">
    </div>

    <div class="contenedor-derecha">
        <span class="etiqueta">Efectivo en caja</span>
        <input class="cajaDinero" type="text" name="total-caja" readonly>
    </div>
</header>
