<!--Menu izquierdo-->
<aside>

    <!--******B L O Q U E 1*******-->
    <div class="widget">
        <label for="propinas-total">Total de propinas</label>
        <div class="divir2">
            <input class="input-propina" type="text" name="propinas-total" readonly>
            <img class="edit" src="img/editar.png" alt="icono editar" width="30">
        </div>
    </div>



    <!--*****B L O Q U E 2*****-->
    <div class="widget">
        <h3>¿Entre cuántos quieres dividir las propinas?</h3>
        <div class="divir">
            <input class="div-pro" type="text" placeholder="#" readonly>
            <p>$0.00 x persona</p>
        </div>
    </div>



    <!--******B L O Q U E 3*****-->
    <div class="widget">
        <div class="metodo">
            <img src="img/cartera.png" alt="icono metodo" width="35">Elige el método de pago
        </div>

        <div class="pago">
            <img src="img/dineroEfectivo.png" alt="icono efectivo" style="width: 30px;">
            <p class="metodos">Efectivo</p>
        </div>

        <div class="pago">
            <img src="img/tarjeta.png" alt="icono tarjeta" style="width: 30px;">
            <p class="metodos">Tarjeta de crédito</p>
        </div>


        <div class="pago">
            <img src="img/transferir.png" alt="icono celular pago" style="width: 30px;">
            <p class="metodos">Transferencia</p>
        </div>

    </div>
</aside>